<header>
  <nav class="navbar fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand display-6" href="#">Superhéroes.</a>
      <section class="form_section">
        <form class="form-inline float-end">
          <input
            class="js-input form__input"
            type="text"
            name="search"
            id="search"
            placeholder="Busca a tu héroe"
          />
          <button type="button" class="btn btn-primary js-button">
            Buscar
          </button>
          <button type="button" class="btn btn-danger js-reset">Reset</button>
        </form>
      </section>
    </div>
  </nav>
</header>
