<main>
  <section class="form">
    <form>
      <label for="search">Busca a tu héroe:</label>
      <input
        class="js-input form__input"
        type="text"
        name="search"
        id="search"
        placeholder="Ej.: Batman"
      />
      <input class="js-button button" type="submit" value="Buscar" />
      <input class="js-reset reset" type="reset" value="Reset" />
    </form>
  </section>
  <section class="container">
    <article class="results">
      <ul class="js-listElements listresults"></ul>
    </article>
  </section>
</main>
