<main>
  <section class="form_section container">
    <form class="form-inline">
      <label for="search">Busca a tu héroe:</label>
      <input
        class="js-input form__input"
        type="text"
        name="search"
        id="search"
        placeholder="Ej.: Batman"
      />
      <button type="button" class="btn btn-primary js-button">Buscar</button>
      <button type="button" class="btn btn-danger js-reset">Reset</button>
    </form>
  </section>
  <section class="">
    <article class="container">
      <div class="js-favourite"></div>
    </article>
    <article class="container">
      <div class="row js-listElements listresults"></div>
    </article>
  </section>
</main>
