/*
.listresults {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 2%;
}

.listresults__item {
  list-style-type: none;
  margin: 2%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}
.listresults__item--text {
  background-color: #e4f2fd;
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  p {
    color: #334454;
    font-size: 1.2rem;
  }
}

.heroes__fav {
  border: solid 1px red;
}
*/

.card-img-top {
  @media all and(min-width: 992px) {
    max-height: 25rem;
  }
}

.card_results {
  margin: 10% 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.card_image {
  width: 100%;
}

.card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  @media all and(min-width: 768px) {
    padding: 2% 5% 2% 2%;
  }
}

.button_close {
  margin: 5% 0 0;
  float: right;
}

.form_section {
  min-width: 50%;
  text-align: right;
  input {
    margin: 1.5%;
    height: 2.5rem;
    padding: 0.5rem;
  }

  button {
    margin-right: 1.5%;
  }
}

.form-inline {
  width: 100%;
  justify-content: center;
}

.main {
  padding-top: 10%;
}
